thead {
	background: #f5f5f5;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border-bottom:none;
}
.nowrap{
	white-space: nowrap;
}
.fs14{
	font-size: 14px;
}
.width_initial {
width: initial;
display: inline-block;
}
.pt0 {
padding-top: 0 !important;
}
.tac {
text-align: center;
}
/* Start vertical tabs */
.nav-sidebar { 
    width: 100%;
    padding: 30px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #2A6FBA; 
    color: #fff;
}
.nav-sidebar .active a:hover {
	cursor: default;
    background-color: #2A6FBA;   
} 
.nav-sidebar a:focus {
color: #fff;
text-decoration: none;
background: #2A6FBA !important;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}
.btn-blog {
    color: #ffffff;
    background-color: #dd4b39;
    border-color: #dd4b39;
    border-radius: 0;
    margin-bottom: 10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: #fff;
    background-color: #2A6FBA;
    border-color: #2A6FBA;
}
/* End vertical tabs */
.ios7-switch {
	font-size: 24px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}
.ios7-switch input {
    opacity: 0;
    position: absolute;
}
.ios7-switch input + span {
    position: relative;
    display: inline-block;
    width: 1.65em;
    height: 1em;
    background: white;
    box-shadow: inset 0 0 0 0.0625em #e9e9e9;
    border-radius: 0.5em;
    vertical-align: -0.15em;
    transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}
.ios7-switch:active input + span,
.ios7-switch input + span:active {
    box-shadow: inset 0 0 0 0.73em #e9e9e9;
}
.ios7-switch input + span:after {
    position: absolute;
    display: block;
    content: '';
    width: 0.875em;
    height: 0.875em;
    border-radius: 0.4375em;
    top: 0.0625em;
    left: 0.0625em;
    background: white;
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
                0 0 0.05em rgba(0,0,0,0.05),
                0 0.1em 0.2em rgba(0,0,0,0.2);
    transition: all 0.25s ease-out;
}
.ios7-switch:active input + span:after,
.ios7-switch input + span:active:after {
    width: 1.15em;
}
.ios7-switch input:checked + span {
    box-shadow: inset 0 0 0 0.73em #4cd964;
}
.ios7-switch input:checked + span:after {
    left: 0.7125em;
}
.ios7-switch:active input:checked + span:after,
.ios7-switch input:checked + span:active:after {
    left: 0.4375em;
}

.ios7-switch input:focus + span:after {
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.15),
                0 0 0.05em rgba(0,0,0,0.08),
                0 0.1em 0.2em rgba(0,0,0,0.3);
    background: #fff;
}
.ios7-switch input:focus + span {
    box-shadow: inset 0 0 0 0.0625em #dadada;
}
.ios7-switch input:focus:checked + span {
    box-shadow: inset 0 0 0 0.73em #33be4b;
}
.ios7-switch:hover input:focus + span:after {
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
                0 0 0.05em rgba(0,0,0,0.05),
                0 0.1em 0.2em rgba(0,0,0,0.2);
    background: #fff;
}
.ios7-switch:hover input:focus + span {
    box-shadow: inset 0 0 0 0.0625em #e9e9e9;
}
.ios7-switch:hover input:focus:checked + span {
    box-shadow: inset 0 0 0 0.73em #4cd964;
}
.fa_icons {
  display: none;
  max-width: 80%;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}
.fa_icons .col-xs-1 {
  width: 35px;
  padding: 5px 0;
  text-align: center;
}
.fa_icons i {
  padding: 5px;
  font-size: 18px !important;
  color: #555;
  cursor: pointer;
  border: solid 1px transparent;
  border-radius: 2px;
}
.fa_icons i:hover {
  color: #dd4b39;
  border: solid 1px #ddd;
}
#t_footer_socs .fa_icon .fa,
#t_dop_contacts .fa_icon .fa {
	font-size: 16px;
	color: #555;
}
#t_footer_socs .fa_icon .fa:hover,
#t_dop_contacts .fa_icon .fa:hover {
	cursor: pointer;
	color: #dd4b39;
}
#t_home_blocks .fa_icon .fa {
	font-size: 50px;
	color: #555;
}
#t_product_blocks .fa_icon .fa,
#t_footer_socs .fa_icon .fa {
	font-size: 20px;
	color: #555;
}
#t_product_blocks .fa_icon .fa:hover,
#t_footer_socs .fa_icon .fa:hover,
#t_home_blocks .fa_icon .fa:hover {
	cursor: pointer;
	color: #dd4b39;
}
.clearfix {
  clear: both;
}