<div id="vk_groups"></div>
<script type="text/javascript"><!--
VK.Widgets.Group("vk_groups", {mode: 0, width: "<?php echo $width; ?>", height: "<?php echo $height; ?>"}, <?php echo $id; ?>);
//--></script>