.mfilter-counter {
	background: #f17e00;
	color: #ffffff;

}
.mfilter-counter:after {
	border-right-color: #f17e00;

}
.mfilter-direction-rtl .mfilter-counter:after {
	left: 100%;
	right: auto;
	border-right-color: none;
	border-left-color: #f17e00;

}

				.mfilter-search #mfilter-opts-search_button {
					background-color: #f17e00;
				}
			

				.mfilter-free-button {
					background-color: #f17e00;
					border-color: #f17e00;
				}
			
.mfilter-box-2 .mfilter-counter {
	background: #f17e00;
	color: #ffffff;

}
.mfilter-box-2 .mfilter-counter:after {
	border-right-color: #f17e00;

}
.mfilter-box-2.mfilter-direction-rtl .mfilter-counter:after {
	left: 100%;
	right: auto;
	border-right-color: none;
	border-left-color: #f17e00;

}

				.mfilter-box-2 .mfilter-search #mfilter-opts-search_button {
					background-color: #f17e00;
				}
			

				.mfilter-box-2 .mfilter-free-button {
					background-color: #f17e00;
					border-color: #f17e00;
				}
			
.mfilter-box-3 .mfilter-counter {
	background: #f17e00;
	color: #ffffff;

}
.mfilter-box-3 .mfilter-counter:after {
	border-right-color: #f17e00;

}
.mfilter-box-3.mfilter-direction-rtl .mfilter-counter:after {
	left: 100%;
	right: auto;
	border-right-color: none;
	border-left-color: #f17e00;

}

				.mfilter-box-3 .mfilter-search #mfilter-opts-search_button {
					background-color: #f17e00;
				}
			

				.mfilter-box-3 .mfilter-free-button {
					background-color: #f17e00;
					border-color: #f17e00;
				}
			