<div class="list-group">
    <!--<span><?php echo $heading_title; ?></span>-->
    <?php foreach ( $manufacturers as $manufacturer ) { ?>
        <a href="<?php echo $manufacturer['href']; ?>" class="list-group-item"><?php echo $manufacturer['name']; ?></a>
    <?php } ?>
    <?php if($manufacturer_quantity!=0) {echo '<a href="'.$href_all.'" class="list-group-item">'.$view_all.'</a>';}?>
</div>

