#manufacturer_module {
 	position:relative;
	border-radius:4px;
	margin:0 0 20px 0;
	z-index:10;
	height:25px;
	font-family:Verdana;
}

#manufacturer_module .box-heading {
	position:relative;
	float:left;
	padding:2px 10px 4px;
	border-radius: 4px 0 0 4px;
	color:#fff;
	font-size:14px;
	margin-right:16px;
	border:solid 1px #444;
	border-right:0;
	box-shadow:inset 0 1px 0 #666;
	background:#222;
	background: linear-gradient(to bottom, #444  0%, #2b2b2b 100%); /* W3C */
}

#manufacturer_module .box-heading::after {
    content: ''; 
    position: absolute;
    left: 66px; bottom: 3px;
	width: 17px; height: 17px;
	background:#222;
    background: linear-gradient(to bottom, #444  0%, #2b2b2b 100%); /* W3C */
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	z-index: -1;
   }

#manufacturer_module ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#manufacturer_module > ul > li {
	position: relative;
	float: left;
	display:inline-block;
	z-index: 2;
	margin-left:7px;
}

#manufacturer_module > ul > li a {
	font-size:13px;
	text-decoration:none;
	margin-top:0px;
	border:solid 1px #ddd;
	border-radius:3px;
	padding:5px 5px 5px 4px;
	color:#777;
	margin-bottom:10px;
	margin-top:-1px;
	min-width:10px;
	display:block;
	text-align:center;
	background:#fff;
}


#manufacturer_module > ul > li:hover > a {
	color:#f00;
	border:solid 1px #bbb;
	background:#f8f8f8;
}
#manufacturer_module > ul > li > div {
	display: none;
	margin-left:-10px;
	background: #f8f8f8;
	position: absolute;
	z-index: 1;
	padding: 4px 7px 6px 10px;
	1border: 1px solid #ddd;
	border-top:0;
	1box-shadow:inset 0 1px 1px #ccc;
	border-radius: 4px;
}

#manufacturer_module > ul > li > div:after{
    border: solid;
    border-color: #ddd transparent;
    border-width: 0px 6px 6px 6px;
    top: -6px;
    content: "";
    left: 8%;
    position: absolute;
    z-index: 99;
		}
		
#manufacturer_module > ul > li:hover > div {
	display: table;
	z-index: 9;
	text-align:left;
	border:solid 1px #ddd;
}

#manufacturer_module > ul > li > div > ul {
	display: table-cell;
}

#manufacturer_module > ul > li ul > li {
	border:none;
	padding:0;
	margin:0;
	min-width:140px;
}

#manufacturer_module > ul > li ul > li > a {
	text-align:left;
	color: #666;
	border:none;
	white-space: nowrap;
	paddding:0;
	margin:0;
	text-decoration:underline;
	background: #f8f8f8;
}
#manufacturer_module > ul > li ul > li > a:hover {
	border:none;
	text-decoration:none;
}