#menu2 {
display: none;
cursor: default;
}
html.common-home #menu2.inhome{
display: block;
box-shadow: none;
}
#menu2_button .box-heading.arrow span {
background: url('../image/arrow2.png') 100% 50% no-repeat;
display: block;
}
#menu2_button:hover #menu2 {
display:block;
}
#menu2_button:hover #podmenu2 {
display:block;
}
[class^=ul_block] {
padding:0;
width:100%;
float:left;
}
[class^=ul_block]  ul {
margin:0;
padding:0;
width:100%;
float:left; 
list-style:none;
}
[class^=ul_block] .column {
float:left;
}
[class^=ul_block].col-1 > .column{
width: 100%;
}
[class^=ul_block].col-2 > .column{
width: 50%;
}
[class^=ul_block].col-3 > .column{
width: 33.33%;
}
[class^=ul_block].col-4 > .column{
width: 25%;
}
#menu2 li.glavli {
width: initial;
list-style: none;
margin: 2px 10px 10px 10px;
padding-top: 2px;
}
#menu2 li.glavli:last-child {
border-bottom: none;
}
#menu2 ul.lastul {
width: initial;
margin-left: 10px;
display: block;
float: none;
padding-top: 2px;
}
#menu2 ul.lastul li {
width: initial;
}
#menu2 li.glavli a {
font-size: 15px;
display: inline-block;
line-height: 16px;
height: 16px;
padding: 0px 0px 0px 5px;
margin: 1px 0px 1px 0px;
text-decoration: none;
}
#menu2 ul.lastul li a {
color: #333;
display: inline-block;
line-height: 16px;
font-size: 14px;
height: 16px;
margin:0;
padding: 0px 0px 0px 0px;
border-bottom: none;
font-weight:normal
}
#menu2 {
background: #fff;
padding: 12px 0;
}
.childrenList {
display: block;
}
.closed .childrenList {
border-bottom: 0 none;
display: block;
visibility: hidden;
position: absolute;
}
.catalog_list .level_1 > .title a {
font-size: 15px;
color: #333;
text-decoration: none;
display: block;
height: initial;
line-height: 18px;
padding: 6px 10px 6px 12px;
z-index: 6;
position: relative;
border-top: 1px solid transparent;
border-bottom: 1px solid transparent;
}
.catalog_list .level_1 > .title a span {
float: right;
font-size: 14px;
}
.catalog_list .level_1.open  > .title a:hover {
color: #dd4b39;
}
.catalog_list .level_1.open  > .title a {
background: #f6f7f9;
z-index: 11;
border-bottom: 1px solid #f6f7f9;
border-top: 1px solid #f6f7f9;
color: #006ab4;
}
.catalog_list .level_1.open  > .title.with-child a {
background: linear-gradient(to right, #f6f7f9 75%, #fff 100%);
border-bottom: 1px solid #eeeeee;
border-top: 1px solid #eeeeee;
}
.catalog_list .level_1.open  > .title a span {
display: none;
}
.catalog_list_popup {
height: 100%;
}
.catalog_list_popup .level_1 > .title {
line-height: 16px;
}
.catalog_list_popup .level_1 .childrenList {
position: absolute;
left: 100%;
margin-left: 0px;
width: 100px;
top: 0;
z-index: 10;
}
#menu2_button:hover {
cursor: pointer;
}
html.common-home #menu2_button.inhome:hover {
cursor: default;
}
#menu2 ul {
list-style: none;
margin: 0;
padding: 0;
display: inline-table;
}
#menu2 ul.subnav {
padding: 5px 5px 5px 10px;
background: #fafafa;
border: 1px solid #DBDEE1;
position: relative;
}
#menu2 ul li {	
z-index: 20;	
text-align:left;
}
#menu2 > ul > li > a.active {
background: #000;
}
#menu2 ul li.parentnav > a {
font-size: 17px;
color: #FFF;
text-decoration: none;
display: block;
height: initial;
line-height: 18px;
padding: 8px 10px 8px 10px;
z-index: 6;
font-weight: normal;
position: relative;
background: url('../image/arrow0.png') no-repeat 95% 50%;
}
#menu2 ul li.parentnav.prost > a {
background: none;
}
#menu2 ul li.parentnav:hover > a {
background: #fafafa url('../image/arrow1.png') no-repeat 95% 50%;
color: #333;
}
#menu2 ul li.parentnav.prost:hover > a {
background: #fafafa;
color: #333;
}
#menu2 ul.lastul li a:hover {
color: #dd4b39;
}
#menu2 li.glavli a:hover {
background:none;
color: #dd4b39;
text-decoration:underline;
}
#menu2 > ul > li ul > li ul {
background:#fff;
}
#menu2 > ul > li ul > li ul > li > a {
color: #333;
height: 20px;
font-size: 17px;
line-height: 20px;
}
#menu2 > ul > li ul > li ul > li > a:hover {
text-decoration: underline;
background: none;
color: #333;
}
#subwidth {
position: inherit;
z-index: 99;
}
.img_sub {
position: absolute;
bottom: 0;
right: 14px;
opacity: 0.4;
z-index: 1;
width: 34%;
}
.row.rowmans {
margin-right: 0px;
margin-left: 0px;
}
.child-box {
display: flex;
position: relative;
background-color: #fff;
border-top: 1px solid #fff;
border-right: 1px solid #fff;
box-shadow: 0 0px 10px rgba(0,0,0,0.2);
padding: 15px 14px;
}
.podmenu2 {
background: #fff;
position: absolute;
top: 0;
left: 0;
z-index: 2;
box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
#menu2_button .box-heading {
background-color: #2A6FBA;
color: #FFF;
height: 40px;
line-height: 40px;
font-size: 17px;
padding: 0 10px;
-webkit-transition: all 100ms linear;
-moz-transition: all 100ms linear;
-ms-transition: all 100ms linear;
-o-transition: all 100ms linear;
transition: all 100ms linear;
z-index: 3;
position: relative;  
}
#menu2_button .box-heading > .fa{
padding-right: 10px;
font-size: 14px;
margin-top: -4px;
vertical-align: middle;
}
#menu2_button:hover > .box-heading,
#menu2_button .box-heading:hover {
background-color: #2d77c8;
-webkit-transition: all 100ms linear;
-moz-transition: all 100ms linear;
-ms-transition: all 100ms linear;
-o-transition: all 100ms linear;
transition: all 100ms linear;
}
.icorightmenu {
float: right;
font-size: 9px;
}
.icorightmenu .fa {
margin-top: 16px;
display: block;
font-size: 9px;
}
.child-box-cell {
padding: 5px 0px 5px 0px;
}
.child-box-cell p {
margin: 0px;
padding: 0 5px;
}
.child-box-cell p > a {
font-size: 14px;
color: #333;
font-weight: bold;
}
#menu2_button {
position: relative;
z-index: 9;
}
.box-content.am {
position: absolute;
width: 100%;
padding: 0;
z-index: 10;
-webkit-transition: all 100ms linear;
-moz-transition: all 100ms linear;
-ms-transition: all 100ms linear;
-o-transition: all 100ms linear;
transition: all 100ms linear;
}
#menu2:before {
border-color: transparent transparent #fff;
border-style: solid;
border-width: 0 6px 7px;
top: -7px;
content: "";
height: 0;
left: 9px;
position: absolute;
width: 0;
z-index: 4;
}
#menu2 ul.child2-box {
width: initial;
margin-left: 10px;
}
#menu2 ul.child2-box > li {
padding: 4px 0 0 0;
}
#menu2 ul.child2-box > li > a {
color: #666;
display: inline-block;
line-height: 16px;
font-size: 14px;
height: 16px;
margin: 0;
padding: 0px 0px 0px 0px;
border-bottom: none;
font-weight: normal;
}
#menu2 a:hover{
color: #dd4b39;
}
#menu2 ul.child2-box > li > a:hover {
color: #dd4b39;
}
#menu2 li.glavli .fa{
font-weight: 200;
font-size: 5px;
vertical-align: middle;
position: relative;
padding-right: 5px;
}
.rowmans {
-moz-column-width: 10em;
-webkit-column-width: 10em;
-moz-column-gap: 2em;
-webkit-column-gap: 2em;
}
.row.rowmans .item {
display: inline-block;
width: 100%;
padding: 7px 0px 7px 0;
border-bottom: 1px solid #ededed;
}
.iconm {
padding-left: 5px;
vertical-align: middle;
}